.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: var(--header-color);
  z-index: 1;

  @media (min-width:320px) and (max-width:1240px) {
    position: static;
  }
  &-transparent {
    background: linear-gradient(122.22deg, #F1F5FF 48%, #C4D3FF 115%);

    @media (min-width:320px) and (max-width:767px) {
      background: linear-gradient(120.94deg, #FCF1FF 25.18%, #C4D3FF 185.58%);
    }
  }

  &-white {
    background: var(--white);
    border-bottom: 1px solid #DADCE5;
    @media (min-width:320px) and (max-width:767px) {
       background: linear-gradient(120.94deg, #FCF1FF 25.18%, #C4D3FF 185.58%);
    }
  }

  &-mob {
    background: var(--white);
    position: fixed;
        height: 100%;
    @media (min-width:320px) and (max-width:1240px) {
      background-color: #F2F5FF;
    }
  }

  &-container{
    display: flex;
    max-width: 1320px;
    width: calc(100% - 120px);
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0px 15px 0;
     @media (min-width:768px) and (max-width:1240px) {
      padding: 0 0 20px 0;
      max-width: calc(100% - 80px);
      margin: 0;
     }
     @media (min-width:320px) and (max-width:767px) {
      max-width: calc(100% - 30px);
      margin: 0;
      padding: 0 0 20px 0;
       }
  }

  &__visible {
    display: none;

    @media (min-width:320px) and (max-width:1240px) {
      display: block;
    }
  }

  &__logo {
    background: linear-gradient(180deg, #FFFFFF 0%, #E2E8FF 87.78%);
    box-shadow: 0px 8px 14px rgba(100, 112, 150, 0.2), inset 0px 0px 14px 2px rgba(255, 255, 255, 0.34);
    border-radius: 30px;
    height: 60px;
    width: 60px;
    display: inline-block;
    &-container{
      display: flex;
      align-items: center;
      @media (min-width:320px) and (max-width:1240px) {
        margin: 20px 0 10px 40px;
        }
        @media (min-width:320px) and (max-width:767px) {
          margin: 20px 0 10px 15px;
        }
    }
    &-name{
      font-size: 20px;
      line-height: 38px;
      color:var(--blue-color);
      margin-left: 10px;
      font-weight: 500;
    }
  }

  &__lang {
    display: flex;

    &-item {
      margin-right: 5px;
       border-radius: 10px;
      display: inline-block;
      height: 26px;
      width: 40px;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      padding: 0;
      border: none;
      color: inherit;
      background-color: transparent;
      @media (min-width:320px) and (max-width:1240px) {
        font-size: 20px;
        line-height: 34px;
        width: 60px;
        height: 40px;
        border-radius: 30px;
        }
      &-active{
        margin-right: 5px;
        height: 26px;
        width: 40px;
        border-radius: 10px;
        background: var(--blue-color);
        color: var(--white);
        border: none;
        @media (min-width:320px) and (max-width:1240px) {
          font-size: 20px;
          line-height: 34px;
          padding: 3px 15px;
          border-radius: 30px;
          width: 60px;
          height: 40px;
          }
          &:hover{
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
          }
      }
      &:hover{
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
      }
    }

    @media (min-width:320px) and (max-width:1240px) {
      display: none;
    }

    &-mobile {
      display: block;
      padding-top: 40px;
      width: 100%;
      text-align: center;
      background-color: #F2F5FF;
       @media (min-width:320px) and (max-width:340px) {
        padding-top: 20px;
       }
    }
  }

  &__mobile {
    height: 100%;
    width: 100%;
    background-color: #F2F5FF;
    z-index: 1;
    position: absolute;
  }
}

#menu__toggle {
  opacity: 0;
}

.hamburger-menu {
  position: fixed;
  right: 70px;
  top: 20px;
  z-index: 10;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  background-color: transparent;
  padding: 17px;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: #386CC5;
  border-radius: 2px;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}


#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  transition-duration: .25s;
}

.menu__box {
  transition-duration: .25s;
}

.menu__item {
  transition-duration: .25s;
}

#menuApp__toggle {
  opacity: 0;
}

.hamburgerApp-menu {
  position: fixed;
  top: 20px;
  z-index: 10;


  @media (min-width:320px) and (max-width:1240px) {
    right: 70px;
  }
}
.menuApp__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  background-color: #386CC5;
  padding: 17px;
}

.menuApp__btn>span,
.menuApp__btn>span::before,
.menuApp__btn>span::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

.menuApp__btn>span::before {
  content: '';
  top: -8px;
}

.menuApp__btn>span::after {
  content: '';
  top: 8px;
}

#menu__toggle:checked~.menuApp__btn>span {
  background-color: transparent;
  transform: rotate(45deg);
}

#menu__toggle:checked~.menuApp__btn>span::before {
  background-color: #386CC5;
    top: 0;
  transform: rotate(0);
}

#menu__toggle:checked~.menuApp__btn>span::after {
  background-color: #386CC5;
    top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menuApp__btn {
  background-color: transparent;
    visibility: visible;
  left: 0;
}
.invisible{
  display: none;
}