.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: var(--header-color);
  z-index: 1;

  @media (min-width:320px) and (max-width:1240px) {
    position: static;
    padding: 20px 0 8px 40px;
  }

  @media (min-width:320px) and (max-width:768px) {
    position: static;
    padding: 20px 0 8px 40px;
  }

  &-transparent {
    background: linear-gradient(122.22deg, #F1F5FF 48%, #C4D3FF 115%);

    @media (min-width:320px) and (max-width:767px) {
      background: linear-gradient(120.94deg, #FCF1FF 25.18%, #C4D3FF 185.58%);
      padding: 20px 0 8px 15px;
    }
  }

  &-white {
    background: var(--white);
    border-bottom: 1px solid #DADCE5;
    @media (min-width:768px) and (max-width:1240px) {
    padding: 20px 0 8px 40px;
    }
    @media (min-width:320px) and (max-width:767px) {
      padding: 20px 0 8px 15px;
       background: linear-gradient(120.94deg, #FCF1FF 25.18%, #C4D3FF 185.58%);
    }
  }

  &-mob {
    background: var(--white);
    padding: 20px 0 8px 40px;
    position: fixed;

    @media (min-width:320px) and (max-width:767px) {
      padding: 20px 0 8px 15px;
    }
  }

  &__pad {   
    display: flex;
    justify-content: space-between;
    width: 100%;
     @media (min-width:320px) and (max-width:1240px) {
    padding: 0;
    display: block;
     }
  }

  &__visible {
    display: none;

    @media (min-width:320px) and (max-width:1240px) {
      display: block;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0 25px 0;

    @media (min-width:320px) and (max-width:1240px) {
      padding: 20px 0 0 0;
      align-items: flex-start;
    }
  }

  &__logo {
    background: linear-gradient(180deg, #FFFFFF 0%, #E2E8FF 87.78%);
    box-shadow: 0px 8px 14px rgba(100, 112, 150, 0.2), inset 0px 0px 14px 2px rgba(255, 255, 255, 0.34);
    border-radius: 30px;
    height: 60px;
    width: 60px;
  }

  &__lang {
    display: flex;

    &-item {
      color: var(--header-color);
      display: inline-block;
      height: 26px;
      width: 40px;
      font-size: 14px;
      line-height: 24px;
      text-align: center;

      &:hover {
        border-radius: 10px;
        background: var(--blue-color);
        color: var(--white);
      }
    }

    @media (min-width:320px) and (max-width:1240px) {
      display: none;
    }

    &-mobile {
      position: absolute;
      top: 66%;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__mobile {
    display: flex;
    position: fixed;
    top: 87px;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    z-index: 1;
  }
}

#menu__toggle {
  opacity: 0;
}

.hamburger-menu {
  position: absolute;
  right: 70px;
  top: 20px;

  @media (min-width:320px) and (max-width:768px) {
    right: 66px;
  }
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  background-color: transparent;
  padding: 17px;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: #386CC5;
  border-radius: 2px;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

// #menu__toggle:checked~.menu__btn>span {
//   background-color: white;
// }

// #menu__toggle:checked~.menu__btn>span::before {
//   background-color: white;
// }

// #menu__toggle:checked~.menu__btn>span::after {
//   background-color: white;
// }

// #menu__toggle:checked~.menu__btn {
//   background-color: #386CC5;
// }

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  transition-duration: .25s;
}

.menu__box {
  transition-duration: .25s;
}

.menu__item {
  transition-duration: .25s;
}











#menuApp__toggle {
  opacity: 0;
}

.hamburgerApp-menu {
  position: sticky;
  top: 40px;
  z-index: 10;
    transform: translate(80%);

  @media (min-width:320px) and (max-width:768px) {
    right: 66px;
  }
}
.menuApp__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  background-color: #386CC5;
  padding: 17px;
}

.menuApp__btn>span,
.menuApp__btn>span::before,
.menuApp__btn>span::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

.menuApp__btn>span::before {
  content: '';
  top: -8px;
}

.menuApp__btn>span::after {
  content: '';
  top: 8px;
}

#menuApp__toggle:checked~.menuApp__btn>span {
  background-color: transparent;
  transform: rotate(45deg);
}

#menuApp__toggle:checked~.menuApp__btn>span::before {
  background-color: #386CC5;
    top: 0;
  transform: rotate(0);
}

#menuApp__toggle:checked~.menuApp__btn>span::after {
  background-color: #386CC5;
    top: 0;
  transform: rotate(90deg);
}

#menuApp__toggle:checked~.menuApp__btn {
  background-color: transparent;
    visibility: visible;
  left: 0;
}
.invisible{
  display: none;
}