.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: .3s ease-in-out;
  text-decoration: none;
  padding: 11px 30px;
  min-width: 156px;
  text-align: center;
  //max-width: 220px;
  cursor: pointer;

  @media (min-width:768px) and (max-width:1240px) {
    width: 180px;
    padding: 4px 9px;
  }

  @media (min-width:320px) and (max-width:767px) {
    padding: 11px 14px;
  }

  @media screen and (max-width: 340px) {
    max-width: 300px;
  }

  &_text {
    font-size: 18px;
    line-height: 24px;

    @media (min-width:768px) and (max-width:1240px) {
      font-size: 13px;
      line-height: 30px;
    }

    @media (min-width:320px) and (max-width:767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  span {
    font-weight: bold;
    letter-spacing: 0.2px;
  }

  &-main {
    background-color: var(--blue-color);
    border-color: var(--blue-color);

    @media (min-width:320px) and (max-width:767px) {
      width: 220px;
      }

    &:hover {
      //opacity: 0.7;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }

    span {
      color: var(--white);
    }
  }

  &-second {
    background-color: var(--white);
    border-color: var(--white);
    margin-left: 10px;

    @media (min-width:320px) and (max-width:767px) {
      padding: 11px 0px;
      width: 188px;
      margin-left: 0;
    }
     @media (min-width:768px) and (max-width:1023px) {
      margin-left: 0;
      width: 160px;
      padding: 3px 0px;
     }
     @media (min-width:1024px) and (max-width:1240px) {
      width: 160px;
      padding: 4px 0px;
     }

    &:hover {
      //opacity: 0.7;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }

    span {
      color: var(--blue-color);

      @media (min-width:768px) and (max-width:1240px) {
        font-size: 13px;
        line-height: 29px;
      }
    }
  }

  &-full {
    width: 280px;
    @media (min-width:768px) and (max-width:1240px) {
      width: 200px;
    }
    @media (min-width:320px) and (max-width:767px) {
      width: 250px;
      margin: 0 auto;
    }
  }

  &-small{
    @media (min-width:768px) and (max-width:1023px) {
      width: 156px;
      padding: 4px 6px;
    }
    @media (min-width:320px) and (max-width:767px) {
      width: 176px;
    }
  }

  &-more {
    min-width: 50px;
    max-width: 50px;
    height: 32px;
    background: white;
    border: none;
    color: var(--blue-color);
    padding: 0px 2px;
    display: inline-block;
    border-radius: 18px;
    text-align: center;
    border-radius: 100px;

    @media (min-width:768px) and (max-width:1240px) {
      min-width: 40px;
      max-width: 40px;
      height: 23px;
    }

    span {
      color: var(--blue-color);
      font-size: 18px;

      @media (min-width:768px) and (max-width:1240px) {
        font-size: 13px;
        line-height: 13px;
      }
    }
  }

  &-img {
    display: inline-block;
    margin: 0 10px -5px 0;

    @media (min-width:768px) and (max-width:1240px) {
      height: 14px;
      margin: 0 8px -3px 0;
    }

    @media (min-width:320px) and (max-width:767px) {
      margin: 0 10px -3px 0;
      width: 20px;
    }
  }
}