.advisers{
    &__title{
        text-align: center;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 20px;
        &-item{
            background: var(--card-background);
            border-radius: 30px;
            padding: 40px 70px 40px 50px;
            width: 530px;
            margin-bottom: 20px;
            margin-right: 20px;
            &:nth-child(2n){
                margin-right: 0;
            }
            @media(max-width:1368px){
                width:484px
            }
        }
        &-title{
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
        }
        &-shortdescription{
            font-size: 14px;
            line-height: 26px;
        }
        &-description{
            font-size: 14px;
            line-height: 26px;
        }
        &-btn{
            margin-top: 20px;
        }
        &-lastitem{
            justify-content: space-between;
            background: var(--blue-color);
            border-radius: 30px;
            padding: 40px 70px 50px 50px;
            display: flex;
            flex-direction: column;
            width: 530px;
            flex-shrink: 1;
            margin-bottom: 20px;
            @media(max-width:1368px){
                width:484px
            }
        }
        &-lasttext{
            color: var(--white);
            width: 100%;
            font-size: 38px;
            line-height: 48px;
            margin-left: 10px;
        }
    }
}