.team{
    &__title{
        text-align: center;
    }
    &__carousel{
        margin-top: 37px;
        margin-bottom: 90px;
    }
    &__items{
        display: grid;
        grid-column-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        &-item{
            background: var(--card-background);
            border-radius: 30px;
            padding: 40px;
        }
        &-img{
            width: 120px;
            margin: 0 auto;
        }
        &-name{
            font-weight: bold;
            font-size: 22px;
            line-height: 28px;
            margin-top: 20px;
        }
    }
}