.team {
    display: grid;
    grid-template-columns: 710px 580px;
    grid-column-gap: 30px;
    padding-bottom: 65px;

     @media (min-width:1241px) and (max-width:1370px) {
        grid-template-columns: 4fr 3fr;
         }

    @media (min-width:1024px) and (max-width:1240px) {
        grid-template-rows: 670px 320px;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 70px;
        padding-bottom: 0px;
    }

    @media (min-width:768px) and (max-width:1023px) {
        grid-template-rows: 540px 360px;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 40px;
        padding-bottom: 0px;
    }

    @media (min-width:320px) and (max-width:767px) {
        display: flex;
        flex-direction: column;
    }

    &___history {
        max-height: 100%;
 
             @media (min-width:320px) and (max-width:767px) {
                border-radius: 22px;
                //padding: 44px 30px;
                margin: 0 15px;
            }

        &-hidden{
            background: var(--card-background);
            border-radius: 0 0 30px 30px;
            //padding: 20px 65px 10px 50px;
    
            @media (min-width:1024px) and (max-width:1240px) {
                width: 480px;
                margin: 0 auto;
                border-radius: 22px;
               padding: 44px 46px 31px;
            }
    
            @media (min-width:768px) and (max-width:1023px) {
                border-radius: 22px;
                padding: 28px 84px;
            }
            @media (min-width:320px) and (max-width:767px) { 
            max-height: 289px;
            overflow: hidden;
            margin-bottom: 20px;
                            border-radius: 22px;
                //padding: 44px 30px;
                margin: 0 15px;
            }
        }

        &-btn{
            display: none;
            @media (min-width:320px) and (max-width:767px) { 
                display: block;
            }
        }

        &-wrap{
            background: var(--card-background);
            border-radius: 30px;
            padding: 20px 65px 10px 50px;
    
            @media (min-width:1024px) and (max-width:1240px) {
                width: 570px;
                margin: 0 auto;
                border-radius: 22px;
                padding: 44px 46px 31px;
                background: transparent;
            }
    
            @media (min-width:768px) and (max-width:1023px) {
                border-radius: 22px;
                padding: 0;
                background: transparent;
            }
             @media (min-width:320px) and (max-width:767px) {
                border-radius: 22px;
                padding: 44px 30px;
                margin: 0 15px;
            }
        }

        &-title {
            text-align: left;
            background: var(--card-background);
            border-radius: 30px 30px 0 0;
            padding: 20px 65px 20px 0px;

            @media (min-width:768px) and (max-width:1240px) {
                margin: 0 auto;
                background: transparent;
                width: 570px;
                padding: 0px 0 20px 0px;
                text-align: center;
            }
            @media (min-width:320px) and (max-width:767px) {
                padding: 0 0 20px 15px;
                background: transparent;
            }
        }

        &-firstcontent {
            font-size: 18px;
            line-height: 34px;   
             margin-bottom: 10px;

            @media (min-width:768px) and (max-width:1240px) {
                font-size: 15px;
                line-height: 28px;
                margin-bottom: 5px;
            }
            
            @media (min-width:320px) and (max-width:767px) {
                font-size: 14px;
                line-height: 28px;
                margin-bottom: 0px;
            }
        }

        &-content {
            font-size: 18px;
            line-height: 34px;
            margin-bottom: 40px;

            @media (min-width:768px) and (max-width:1240px) {
                font-size: 15px;
                line-height: 28px;
                margin-bottom: 20px;
            }
            @media (min-width:320px) and (max-width:767px) {
                font-size: 14px;
                line-height: 28px;
            }
        }
    }

    &__gallery {
        align-self: end;

        @media (min-width:1024px) and (max-width:1240px) {
            padding-top: 0px;
            align-self: auto;
        }
        @media (min-width:768px) and (max-width:1023px) {
            padding-top: 45px;
            align-self: auto;
        }
    }

    &__title {
        text-align: left;
        margin-bottom: 20px;
        @media (min-width:320px) and (max-width:767px) {
            margin-left: 15px;
        }

        @media (min-width:768px) and (max-width:1240px) {
            text-align: center;
        }
    }

    &__carousel {

        //margin-top: 37px;
        //margin-bottom: 90px;
        @media (min-width:1024px) and (max-width:1240px) {
            margin-top: 26px;
            margin-bottom: 0px;
        }
    }

    &__items {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: 1fr 1fr;

        @media (min-width:1024px) and (max-width:1240px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media (min-width:768px) and (max-width:1023px) {
            grid-column-gap: 9px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media (min-width:320px) and (max-width:767px) {
            grid-template-columns: 1fr;
            grid-column-gap: 0;
        }

        &-item {
            background: var(--card-background);
            border-radius: 30px;
            padding: 52px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (min-width:1024px) and (max-width:1240px) {
                padding: 29px;
                border-radius: 22px;
            }

            @media (min-width:768px) and (max-width:1023px) {
                padding: 25px 40px;
                border-radius: 22px;
            }

            @media (min-width:320px) and (max-width:767px) {
                margin: 0 10px;
            }
        }

        &-img {
            width: 120px;

            @media (min-width:768px) and (max-width:1240px) {
                width: 85px;
            }

            @media (min-width:320px) and (max-width:767px) {
                width: 100px;
            }

            & img {
                width: 100%;
                height: auto;
            }
        }

        &-name {
            font-weight: bold;
            font-size: 22px;
            line-height: 28px;
            margin-top: 20px;
            text-align: center;

            @media (min-width:768px) and (max-width:1240px) {
                font-size: 16px;
                line-height: 20px;
            }

            @media (min-width:768px) and (max-width:1023px) {
                margin-top: 15px;
            }

            @media (min-width:320px) and (max-width:767px) {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}