.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 360px;
    grid-template-areas:
        'h b'
        'i b';
    @media (max-width:1024px){
        grid-template-rows: 40px 260px;
    }
    &__header{
        grid-area: h;
    }
    &__items{
        grid-area: i;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        &-text{
            width: 66%;
            line-height: 24px;
            @media (max-width:1024px){
                font-size: 13px;
                line-height: 20px;
            }
        }
                    &-item img{
                 @media (max-width:1024px){
                width:30px;
                 }
            }

    }
    &__background{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 30px;
        background-image: url('../../img/aboutback.png');
        grid-area: b;
        @media (max-width:1024px){
            border-radius: 22px;
        }
    }
    &-wrap{
        margin-top: 116px;
        margin-bottom: 70px;
        @media (max-width:1024px){
            margin-top: 85px;
            margin-bottom: 42px;
        }
    }
}