.first {
    width: 100%;
    height: 580px;
    background: linear-gradient(122.22deg, #F1F5FF 35.7%, #C4D3FF 93.05%);

    @media (min-width:1024px) and (max-width:1240px) {
        height: 355px;
        position: relative;
    }

    @media (min-width:768px) and (max-width:1023px) {
        height: 425px;
        position: relative;
    }

    @media (min-width:320px) and (max-width:767px) {
        width: 100%;
        height: 830px;
        background: linear-gradient(120.94deg, #FCF1FF 5.18%, #C4D3FF 90.58%);
        margin-bottom: 30px;
        position: relative;
    }

    &__header {
        width: 50%;
        padding-top: 140px;

        @media (min-width:1024px) and (max-width:1240px) {
            padding-top: 45px;
        }

        @media (min-width:768px) and (max-width:1023px) {
            padding-top: 25px;
        }

        @media (min-width:320px) and (max-width:767px) {
            padding-top: 25px;
            width: 100%;
        }

        &-text {
            width: 400px;
            padding: 8px 0 20px 0;

            @media (min-width:1024px) and (max-width:1240px) {
                font-size: 14px;
                line-height: 20px;
                width: 235px;
            }

            @media (min-width:768px) and (max-width:1023px) {
                width: 230px;
                font-size: 14px;
                line-height: 20px;
            }

            @media (min-width:320px) and (max-width:767px) {
                width: 100%;
            }
        }

        &-button {
            @media (min-width:768px) and (max-width:1023px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 90px;
                align-items: flex-start;
            }

            @media (min-width:320px) and (max-width:767px) {
                display: flex;
                flex-direction: column;
                height: 118px;
                justify-content: space-between;
            }
        }
    }

    &__absolute {
        height: 500px;
        position: absolute;
        background-image: url('../../img/firstmess2.svg'), url('../../img/firstphone.svg'), url('../../img/firstmess1.svg');
        width: 55%;
        right: 0;
        top: 80px;
        background-repeat: no-repeat;
        background-position: 454px 67px, left, 525px 215px;

        @media (min-width:1024px) and (max-width:1240px) {
            height: 100%;
            top: 7px;
            background-size: 32%, 66%, 22%;
            background-position: 307px 64px,left, 354px 160px;
            width: 50%;
        }

        @media (min-width:768px) and (max-width:1023px) {
            background-image: url('../../img/firstphone.png');
            width: 50%;
            background-position: 0px 92px;
            background-size: 87%;
            height: 100%;
            top: 0;
        }

        @media (min-width:320px) and (max-width:767px) {
            height: 45%;
            position: absolute;
            background-image: url('../../img/firstmobile.png');
            width: 100%;
            right: 0;
            top: 55%;
            background-repeat: no-repeat;
            background-position: bottom;
            //background-size: 100%;
        }

    }
}