.solution{
    margin-top: 47px;
    margin-bottom: 80px;
    &__wrap{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 15px;
        display: grid;
        margin-top: 12px;
    }
    &__card{
        display: flex;
        flex-direction: column;
        padding: 38px;
        text-align: center;
        background: var(--card-background);
        border-radius: 30px;
        height: 234px;
    &__header{
        margin-bottom: 12px;
    }
    &-img{
        //width: 174px;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
    }
    &-text{
        display: inline-block;
        margin-top: auto;
        font-size: 18px;
        line-height: 26px;
    }
    }
    
}