.partners{
    &__cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 17px;
        margin-top: 20px;
        margin-bottom: 90px;
        &-card{
            border: 1px solid #DADDE6;
            border-radius: 30px;
            height: 212px;
        }
        &-img{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}