.bg-arrow {
    width: 114px;
    display: inline-block;
    height: 38px;
    background: url('../img/css_sprites.png') -86px -216px;
}


.bg-book {
    width: 54px;
    display: inline-block;
    height: 54px;
    background: url('../img/css_sprites.png') -313px -138px;
}


.bg-bot {
    width: 91px; 
    margin: 0;
    display: inline-block;
    height: 116px;
    background: url('../img/css_sprites.png') -2px -96px;
}


.bg-brain {
    width: 85px; 
    margin: 0;
    display: inline-block;
    height: 85px;
    background: url('../img/css_sprites.png') -135px -96px;
}


.bg-dialog {
    width: 129px; 
    margin: 0;
    display: inline-block;
    height: 90px;
    background: url('../img/css_sprites.png') -2px -2px;
}


.bg-doctor {
    width: 50px; 
    display: inline-block;
    height: 50px;
    background: url('../img/css_sprites.png') -60px -300px;
}


.bg-fingers {
    width: 80px; 
    display: inline-block;
    height: 80px;
    background: url('../img/css_sprites.png') -229px -2px;
}

.bg-fingers50 {
    width: 50px; 
    display: inline-block;
    height: 50px;
    background: url('../img/fingers50.png') 0px 0px;
}


.bg-flag {
    width: 48px;
     height: 48px;
     margin-bottom: -5px;
     display: inline-block;
    background: url('../img/css_sprites.png') -276px -296px;
}


.bg-heart {
    width: 80px; 
    margin: 0;
    display: inline-block;
    height: 80px;
    background: url('../img/css_sprites.png') -229px -86px;
}


.bg-logotelegram {
    width: 80px; 
    margin: 0;
    display: inline-block;
    height: 80px;
    background: url('../img/css_sprites.png') -2px -216px;
}


.bg-mess54 {
    width: 54px; 
    display: inline-block;
    height: 54px;
    background: url('../img/css_sprites.png') -313px -196px;
}


.bg-mess64 {
    width: 64px; 
    display: inline-block;
    height: 64px;
    background: url('../img/css_sprites.png') -313px -2px;
}


.bg-message {
    width: 64px; 
    display: inline-block;
    height: 64px;
    background: url('../img/css_sprites.png') -313px -70px;
}


.bg-nurse {
    width: 90px; 
    display: inline-block;
    height: 90px;
    background: url('../img/css_sprites.png') -135px -2px;
}


.bg-ok {
    width: 44px; 
    display: inline-block;
    height: 44px;
    margin: 0;
    background: url('../img/css_sprites.png') -328px -300px;
}


.bg-palms {
    width: 50px; 
    display: inline-block;
    height: 50px;
    background: url('../img/css_sprites.png') -114px -300px;
}


.bg-pray {
    width: 42px;
    height: 42px;
    margin-bottom: -5px;
    display: inline-block;
    background: url('../img/css_sprites.png') -313px -254px;
}


.bg-smile1 {
    width: 23px; 
    display: inline-block;
    height: 23px;
    background: url('../img/css_sprites.png') -229px -170px;
}


.bg-smile2 {
    width: 23px; 
    display: inline-block;
    height: 23px;
    background: url('../img/css_sprites.png') -256px -170px;
}


.bg-smile3 {
    width: 23px; 
    display: inline-block;
    height: 23px;
    background: url('../img/css_sprites.png') -283px -170px;
}


.bg-smile4 {
    width: 50px; 
    display: inline-block;
    height: 50px;
    background: url('../img/css_sprites.png') -168px -300px;
}


.bg-smile5 {
    width: 54px; 
    display: inline-block;
    height: 54px;
    background: url('../img/css_sprites.png') -2px -300px;
}


.bg-smile6 {
    width: 50px; 
    display: inline-block;
    height: 50px;
    background: url('../img/css_sprites.png') -222px -300px;
}

.bg-smile7 {
    margin-left: 6px;
    margin-bottom: -5px;
    width: 24px;
    display: inline-block;
    height: 24px;
    background: url('../img/css_sprites2.png') -127px -100px;
}

.bg-smile8 {
    margin-left: 6px;
    margin-bottom: -5px;
    width: 23px; 
    display: inline-block;
    height: 23px;
    background: url('../img/css_sprites2.png') -127px -124px;
}

.bg-smile9 {
    margin-left: 6px;
    margin-bottom: -5px;
    width: 23px; 
    display: inline-block;
    height: 23px;
    background: url('../img/css_sprites2.png') -150px -124px;
}

.bg-smile10 {
    margin-left: 6px;
    margin-bottom: -5px;
    width: 23px; 
    display: inline-block;
    height: 24px;
    background: url('../img/css_sprites2.png') -151px -100px;
}

.bg-nimb {
    width: 54px; 
    display: inline-block;
    height: 50px;
    background: url('../img/css_sprites2.png') -127px -0;
}

.bg-silence {
    width: 50px; 
    display: inline-block;
    height: 50px;
    background: url('../img/css_sprites2.png') -127px -50px;
}

.bg-bot_footer {
    width: 127px; height: 160px;
    background: url('../img/css_sprites2.png') -0 -0;
}