:root{
    --main-color:#2A4170;
    --second-color: rgba(18, 34, 68, 0.6);
    --blue-color:#386CC5;
    --header-color:rgba(42, 65, 112, 0.5);
    --card-background: #F2F5FF;
    --white:#FFFFFF;
}
